<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Aspire App Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Aspire App Test Cases">
		<classes>
			<class name="com.aspire.qa.testCases.AspireAppTest"></class>

		</classes>
	</test>
</suite>
